
.buttonLink {
	/* box-shadow:inset 0px -3px 7px 0px; */
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: inherit;
	font-size: 1.5em;
	padding:15px 40px;
	text-decoration:none;
}

.blue {
	background: #2dabf9;
}

.buttonLink:hover {
	box-shadow: 5px 5px 25px rgba(0,0,0, .3);
}

.buttonLink:active {
	position:relative;
	top:1px;
}